@{
    ViewBag.Title = "About Section1 Group1";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h1>@ViewBag.Title</h1>
    </div>
    <p> In Fulfilment of Assignment</p>
    <p>
        We gladly welcome U.S. customers to enjoy our showroom! We are located only 5 minutes from the Detroit/Windsor border and we have delivery process to help you get your product over safely.

    </p>
    <p>We are students of MAC in Windsor University.</p>
    <p>We are: </p>
    <h3>DANIEL ONYEANI-NWOSU</h3>
    <h3>DERRICK ONYEANI-NWOSU</h3>
    <h3>MCDONALD NNAMDI</h3>
    <h3>MIHIR DAYAND SAMANT</h3>

</div>